
.App {
}

.Background-orientation {
  height: 100%; 
  width: 100%; 
  object-fit: contain
}

.Background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: bolder 50px/1 sans-serif;
  color: white;
}

