.Background {
    position: relative;
    width: 100%;
}

.Background .image {
    height: 100%;
    width: 100%;
    filter: brightness(40%) blur(3px) contrast(90%);
}

.Background .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15vw;
    text-align: center;
    font: bolder 8vw sans-serif;
    color: white;
}

.App-link {
    color: #09d3ac;
}


/* Create two equal columns that sits next to each other */


/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 33.3vw;
    height: 66.6vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.category-box {
    width: 33.3vw;
    height: 33.3vw;
}