.Banner {
    position: relative;
    width: 100%;
}

.Banner .image {
    height: 100%;
    width: 100%;
    filter: brightness(90%) blur(2px) contrast(90%);
}

.Banner .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15vw;
    text-align: center;
    font: bolder 8vw arial sans-serif;
    color: white;
}

.Category-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.Category-row {
    display: flex;
    flex-direction: row;
}

.Category-image {
    position: relative;
    margin: 0.3%;
    height: 47vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.category-image-sub {
    object-fit: cover;
    max-width: 150vh;
    filter: brightness(50%) blur(2px) contrast(100%);
}
 .Category-text {
    float: left;
    position: absolute;
    font: bold 4vw arial sans-serif;
    color: whitesmoke; 
    display: flex;
 }
